:root {
  width: 100%;
  height: 100%;
  background-color: #1f7a8c;
  margin: 0px;
  padding: 0 auto;

  --cor-mapa-fundo-principal: #022b3a;
  --cor-links: #bfdbf7;
  --cor-popups: #1f7a8c;
  --cor-shadow: #90d9e7;
  --cor-fundo-card: #e1e5f2;
  --cor-fundo-descricao-card: rgba(0, 0, 0, 0.6);
  --cor-card-star: #ff7b00;
  --cor-texto-detalhes: white;

  --cor-botomAdd: #02a855;
  --cor-botomAdd-shadow:#008141;
  --cor-botomAtualizar: #58a3be;
  --cor-botomAtualizar-shadow: #022b3a;
  --cor-botomDelete: #e63318;
  --cor-botomDelete-shadow: #a31600;

  --cor-preco-baixo: #8bffac;
  --cor-preco-alto: #eb6c6c;
}

a {
  text-decoration: none;
  color: var(--cor-links);
}

.mapa {
  z-index: 0;
  display: flex;
  background-color: var(--cor-mapa-fundo-principal);
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.main-mapa {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.MapaConteiner {
  width: 100%;
  height: 98vh;
  border-radius: 5px;
  z-index: 0;
  position: relative;
  transition: 1s;
}

.popupMarker {
  margin-left: 20px;
  border: 1px solid;
  border-radius: 12px;
  border-color: var(--cor-popups);
  box-shadow: 0px 0px 10px 1px var(--cor-shadow);
}

.btn-seta-guia {
  border-radius: 15px 0px 0px 15px;
  border-color: transparent;
  background-color: var(--cor-mapa-fundo-principal);
  position: absolute;
  right: 375px;
  top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#tipoDeTelas {
  display: flex;
  height: 98vh;
  margin: 10px;
  align-items: center;
  flex-direction: column;
  width: 370px;
  transition: 0.5s;
}

.telaPosto {
  position: relative;
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 2px; /* Largura da barra de rolagem */
}
/* Estiliza o controle */
::-webkit-scrollbar-thumb {
  background-color: var(--cor-popups); /* Cor do controle */
  border-radius: 6px;
}
/* Estiliza a trilha */
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da trilha */
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

.posto-main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.posto-main-card {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 340px;
}

.postos {
  display: flex;
  width: 320px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5.488px;
  background: var(--cor-fundo-card);
  flex-direction: row;
  align-items: center;
  cursor: auto;
  margin: 2px;
  justify-content: space-between;
}

.iconPosto {
  width: 75px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  display: flex;
  width: 100%;
}

.iconCopy {
  width: 15px;
  height: 15px;
  padding: 2px;
  cursor: copy;
}

#statusCopiado {
  color: var(--cor-popups);
}

.iconBand {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.descricaoPosto {
  width: auto;
  justify-content: center;
  align-items: flex-start;
  color: var(--cor-fundo-descricao-card);
  font-family: monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}

.nomeDoPosto {
  font-size: 18px;
  color: var(--cor-popups);
}

.descricaoText {
  font-size: 13px;
}

.precoPosto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 93.841px;
  flex-shrink: 0;
  flex-direction: column;
  height: 100px;
  overflow: hidden;
}

.precos {
  color: var(--cor-popups);
}

.preco-salvo {
  display: flex;
  align-items: flex-start;
}

.diasAtras {
  font-size: 12px;
}

p {
  margin: 0px !important;
}

.btn-save {
  border: none;
  margin: none;
  width: 15px;
  background-color: transparent;
}

.linha {
  width: 200px;
  height: 0.5px;
  background: var(--cor-popups);
  margin: 2px;
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

#menu {
  padding: 2px;
  display: flex;
  width: 320px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--cor-popups);
  align-items: center;
  justify-content: space-between;
}

.imgs {
  width: 30px;
  height: 30px;
  transition: 0.5s;
  opacity: 0.5;
  padding: 5px;
  margin-bottom: 1px;
}

.imgs:hover {
  margin-bottom: 0px;
  transition: 0.3s;
  opacity: 5;
  border-bottom: 1px solid var(--cor-fundo-card);
  border-radius: 1px;
}

.backPorcento {
  position: relative;
  width: 100%;
  display: flex;
  height: 30px;
  flex-direction: row-reverse;
}

.star {
  position: absolute;
  background-color: var(--cor-fundo-card);
  top: 0;
  width: 20px;
  height: 15px;
  z-index: 2;
}

.Porcento {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  top: 0;
  left: 0;
  width: 20px;
  height: 15px;
  background-color: var(--cor-card-star);
  z-index: 1;
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

.VisuAddPosto {
  transition: 1s;
  z-index: 3;
  position: absolute;
  top: 10px;
  right: 370px;
}

#telaAdd {
  display: flex;
  width: 92%;
  height: 98%;
  flex-shrink: 0;
  border-radius: 5.488px;
  background: var(--cor-fundo-card);
  flex-direction: column;
  align-items: center;
  margin: 2px;
  justify-content: space-evenly;
}

.tipoBandeira {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkBand {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.iconDoPostoCheck {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.checkBoxStyle {
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.checkBoxStyle::before {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: var(--cor-popups);
  border-radius: 5px;
}

.checkBoxStyle:checked::after {
  content: "";
  display: block;
  width: 2px;
  height: 5px;
  border: solid var(--cor-shadow);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 5px;
}

.TextDados {
  margin: 10px;
  width: 250px;
  border-radius: 5.034px;
  background: var(--cor-popups);
  padding: 5px;
  border: 0px;
  text-decoration: none;
  border: none;
  outline: none;
  color: var(--cor-texto-detalhes);
  font-family: monospace;
}

.avaliacaoRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range-ava {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18em;
  height: 0.5em;
  position: relative;
  border-radius: 5px;
  background-color: var(--cor-shadow);
  outline: none;
  cursor: pointer;
}

.range-ava::-webkit-slider-thumb {
  border-radius: 50%;
}

.precosAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.precosDados {
  display: flex;
  align-items: center;
}

.inputPrecosAdd {
  text-align: center;
  margin: 10px;
  color: var(--cor-mapa-fundo-principal);
  border: none;
  background-color: transparent;
  text-transform: none;
  outline: none;
  border-bottom: 1px solid var(--cor-popups);
  appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputPrecosAdd::placeholder {
  color: var(--cor-fundo-card);
}

.inputPrecosAdd::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btnAdd {
  transition: 1s;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background: var(--cor-popups);
  color: var(--cor-texto-detalhes);
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

#btnAdd:hover {
  transition: 1s;
  box-shadow: 0px 0px 5px 1px var(--cor-botomAdd);
  background: var(--cor-botomAdd-shadow);
}

#btnAtuali:hover {
  transition: 1s;
  box-shadow: 0px 0px 5px 1px var(--cor-botomAtualizar);
  background: var(--cor-botomAtualizar-shadow);
}

#btndelete:hover {
  transition: 1s;
  box-shadow: 0px 0px 5px 1px var(--cor-botomDelete);
  background: var(--cor-botomDelete-shadow);
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

.main-tela-media {
  overflow: visible;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tipo-combustivel {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn-typw-combustivel {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--cor-fundo-descricao-card);
  margin: 5px;
  width: 18px;
  overflow: hidden;
  transition: 0.5s;
  color: var(--cor-fundo-card);
}

.btn-typw-combustivel:hover {
  transition: 1s;
  width: 100px;
  color: var(--cor-preco-baixo);
}

.elips-maior-media {
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.elips-maior-media::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(to bottom,var(--cor-popups) , transparent);
  -webkit-mask: linear-gradient(var(--cor-texto-detalhes) 0 0) content-box, linear-gradient(var(--cor-texto-detalhes) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.elips-media-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
}

.elips-media-media::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 100%;
  padding: 10px;
  background: linear-gradient(to bottom, var(--cor-links), transparent);
  -webkit-mask: linear-gradient(var(--cor-texto-detalhes) 0 0) content-box, linear-gradient(var(--cor-texto-detalhes) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.elips-menor-media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
}

.elips-menor-media::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 100%;
  padding: 7px;
  background: linear-gradient(to bottom, var(--cor-shadow), transparent);
  -webkit-mask: linear-gradient(var(--cor-texto-detalhes) 0 0) content-box, linear-gradient(var(--cor-texto-detalhes) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.text-media {
  color: var(--cor-texto-detalhes);
  font-family: monospace;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.menor-maior {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#line-media {
  width: 100px;
  margin: 0px;
}

#text-menor,
#text-maior {
  margin: 0px;
  font-size: 30px;
}

#text-menor {
  color: var(--cor-preco-baixo);
}

#text-maior {
  color: var(--cor-preco-alto);
}

.tabela-precos {
  width: 290px;
  height: 50%;
  border-radius: 10px;
  background: #2a3447;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-tabela {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.text-titulo-tabela {
  color: var(--cor-fundo-descricao-card);
  width: 25%;
  text-align: center;
  color: var(--cor-links);
}

#tabela-nome-posto {
  width: 50%;
  text-align: center;
}

.dados-precos-postos {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.card-dados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-preco {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon-band-media {
  width: 30px;
  height: 30px;
}

#tabela-line-media {
  width: 90%;
  color: var(--cor-texto-detalhes);
  margin: 5px;
}

.tabela-dados-posto {
  color: var(--cor-texto-detalhes);
  font-family: monospace;
}

#tabela-preco-posto {
  color: var(--cor-preco-baixo);
}

/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////*/

.fundo-user {
  position: absolute;
  z-index: 0;
  background-image: url("../img/fundo-perfilGpng.png");
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  background-size:auto;
  background-position:right;
  filter: blur(5px);
}

.main-userConfig {
  z-index: 1;
  height: 90vh;
  width: 100%;
}

.perfil-sair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.sair {
  display: flex;
  justify-content: space-between;
}

.txt-sair {
  color: var(--cor-botomDelete-shadow);
  font: 18px;
}

.perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img-user {
  border-style: solid;
  border-radius: 100%;
  border-color: var(--cor-fundo-card);
  padding: 10px;
  border-width: 1px;
  transition: 0.5s;
}

.img-user:hover {
  transition: 1s;
  border-color: var(--cor-preco-baixo);
}

.email-user {
  color: var(--cor-fundo-card);
  font-family: monospace;
  font-size: 20px;
  font-weight: 100;
}

.line-user {
  width: 90%;
  height: 1px;
  background-color: var(--cor-shadow);
}

.sobre-salvos-contato {
  display: flex;
  justify-content: space-evenly;
}

.btn-user {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 10px;
  padding: 10px;
  background: var(--cor-botomAtualizar-shadow);
  border-radius: 2px;
}

#main-contao {
  display: flex;
  width: 92%;
  height: 98%;
  flex-shrink: 0;
  border-radius: 5.488px;
  background: var(--cor-mapa-fundo-principal);
  flex-direction: column;
  align-items: center;
  margin: 2px;
}

#mensagem-contato {
  height: 100px;
}

@media screen and (max-width: 750px) {
  .nomeDoPosto {
    font-size: 16px;
    color: var(--cor-popups);
  }

  .mapa{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-mapa {
    width: 0%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .btn-seta-guia {
    border-radius: 15px 5px 5px 15px;
    border-color: transparent;
    background-color: var(--cor-botomAtualizar-shadow);
    position: absolute;
    right: 375px;
    top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn-seta-guia {
    width: 40px;
  }

  #tipoDeTelas {
    margin: 0px;
    height: 98vh;
    width: 100%;
    transition: 0.2s;
    position: absolute;
    background-color: var(--cor-botomAtualizar-shadow);
  }

  .tabela-precos {
    height: 40%;
  }


  .posto-main-card {
    right: 450px;
  }

  .sair {
    display: flex;
    justify-content: space-around;
  }

  
  .fundo-user {
    position: absolute;
    z-index: 0;
    background-image: url("../img/fundo-perfilGpng.png");
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-size:contain;
    background-position: top;
    filter: blur(5px);
  }
}
