:root{
  --cor-mapa-fundo-principal: #022b3a;
  --cor-links: #a6bfd8;
  --cor-popups: #1f7a8c;
  --cor-shadow: #90d9e7;
  --cor-texto-detalhes: rgb(122, 122, 122);
}

.splash-screen {
  z-index: 3;
  margin: 0;
  width: 100%;
  background: var(--cor-popups);
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: opacity   1.0s ease;
  display: flex;
  justify-content: center;
}

@keyframes dropBounce {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.logo-drop {
  animation: dropBounce 1s ease-out;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropBounce {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-line {
  animation: fadeSlideIn 0.5s ease forwards;
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.titulo {
  font-family:'Courier New', Courier, monospace ;
  font-size: 110px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  color: var(--cor-texto-detalhes);
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 2px solid;
  border-color: var(--cor-texto-detalhes);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  border-radius: 5px;
}

.line1 { animation-delay: 0.1s; }
.line2 { animation-delay: 0.3s; }
.line3 { animation-delay: 0.5s; }
.line4 { animation-delay: 0.7s; }

.logo-drop {
  animation: dropBounce 1s ease-out forwards;
  opacity: 0;
  animation-delay: 1s; /* só aparece depois das linhas */
}



.linhas1 {
  width: 90%;
  height: 220px;
  top: 32%;
  position: absolute;
  border-radius: 5px 5px 0px 0px;
  background: var(--cor-mapa-fundo-principal);
}

.linhas2 {
  background:var(--cor-links);
  width: 90%;
  height: 77px;
  top: 59%;
  position: absolute;
  flex-shrink: 0;
}

.linhas3 {
  width: 90%;
  height: 25px;
  top: 70%;
  position: absolute;
  flex-shrink: 0;
  background: var(--cor-mapa-fundo-principal);
}

.linhas4 {
  background:var(--cor-links);
  width: 90%;
  height: 35px;
  top: 75%;
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  flex-shrink: 0;
}


@media screen and (max-width: 750px) {
  .linhas1 {
    width: 90%;
    height: 220px;
    top: 32%;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
    background: var(--cor-mapa-fundo-principal);
  }
  
  .linhas2 {
    background:var(--cor-links);
    width: 90%;
    height: 77px;
    top: 59%;
    position: absolute;
    flex-shrink: 0;
  }
  
  .linhas3 {
    width: 90%;
    height: 25px;
    top: 70%;
    position: absolute;
    flex-shrink: 0;
    background: var(--cor-mapa-fundo-principal);
  }
  
  .linhas4 {
    background:var(--cor-links);
    width: 90%;
    height: 35px;
    top: 75%;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    flex-shrink: 0;
  }
  
}