.splash-screen {
  z-index: 3;
  margin: 0;
  width: 100%;
  background: #1f7a8c;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: opacity   1.0s ease;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.titulo {
  font-family:'Courier New', Courier, monospace ;
  font-size: 110px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 2px solid;
  border-color: #ffffff;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  border-radius: 5px;
}

.linhas1 {
  width: 100vw;
  height: 169.049px;
  transform: rotate(120deg);
  top: 280px;
  left: -80px;
  position: absolute;
  background: rgba(2, 43, 58, 0.96);
}

.linhas2 {
  background: rgba(191, 219, 247, 0.8);
  width: 100vw;
  height: 69.166px;
  transform: rotate(120deg);
  top: 300px;
  left: 100px;
  position: absolute;
  flex-shrink: 0;
}

.linhas3 {
  width: 100vw;
  height: 92.068px;
  transform: rotate(120deg);
  top: 400px;
  left:900px;
  position: absolute;
  flex-shrink: 0;
  background: rgba(2, 43, 58, 0.96);
}

.linhas4 {
  background: rgba(191, 219, 247, 0.8);
  width: 220.117px;
  height: 36.224px;
  transform: rotate(120deg);
  top:30px;
  left: -90px;
  position: absolute;
  flex-shrink: 0;
}
