:root{
  width: 100%;
}

.mapa {
  display: flex;
  background-color: #022b3a;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.MapaConteiner {
  width: 75%;
  height: 98vh;
  border-radius: 5px;
  z-index: 0;
  position: relative;
}

.popupMarker {
  margin-left: 20px;
  border: 1px solid;
  border-radius: 12px;
  border-color: #1f7a8c;
  box-shadow: 0px 0px 10px 1px #90d9e7;
}

#tipoDeTelas {
  display: flex;
  height: 98vh;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

#telaPosto {
  display: flex;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}

/* //////////////////////////////////////////////////*/

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}
/* Estiliza o controle */
::-webkit-scrollbar-thumb {
  background-color: #1f7a8c; /* Cor do controle */
  border-radius: 6px;
}
/* Estiliza a trilha */
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da trilha */
}

/* //////////////////////////////////////////////////*/

.posto-main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.postos {
  display: flex;
  width: 320px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5.488px;
  background: #e1e5f2;
  flex-direction: row;
  align-items: center;
  cursor: auto;
  margin: 2px;
}

.iconPosto {
  width: 75px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy{
  display: flex;
  width: 100%;
}

.iconCopy{
  width: 15px;
  height: 15px;
  padding: 2px;
  cursor: copy;
}

#statusCopiado{
  color: #58a3be;
}

.iconBand {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.descricaoPosto {
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.6);
  font-family: monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
}

.nomeDoPosto {
  font-size: 18px;
  color: #1f7a8c;
}

.descricaoText {
  font-size: 13px;
}

.precoPosto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 93.841px;
  flex-shrink: 0;
  flex-direction: column;
  height: 100px;
  overflow: hidden;
}

.precos {
  color: #1f7a8c;
}

.diasAtras {
  font-size: 12px;
}

p {
  margin: 0px !important;
}

.linha {
  width: 200px;
  height: 0.5px;
  background: #1f7a8c;
  margin: 2px;
}

/* //////////////////////////////////////////////////*/

#menu {
  padding: 2px;
  display: flex;
  width: 320px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #1f7a8c;
  align-items: center;
  justify-content: space-between;
}

.imgs {
  width: 30px;
  height: 30px;
  transition: 0.5s;
  opacity: 0.5;
  padding: 5px;
  margin-bottom: 1px;
}

.imgs:hover {
  margin-bottom: 0px;
  transition: 0.3s;
  opacity: 5;
  border-bottom: 1px solid #f7fdff;
  border-radius: 1px;
}

.backPorcento {
  position: relative;
  width: 100%;
  display: flex;
  height: 30px;
  flex-direction: row-reverse;
}

.star {
  position: absolute;
  background-color: #e1e5f2;
  top: 0;
  width: 20px;
  height: 15px;
  z-index: 2;
}

.Porcento {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%,
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  top: 0;
  left: 0;
  width: 20px;
  height: 15px;
  background-color: #ff7b00;
  z-index: 1;
}

/*////////////////////////////////////////////////////////*/

.VisuAddPosto{
  transition: 1s;
  z-index:3;
  position: absolute;
  top: 10px;
  right: 26%;
}

#telaAdd {
  display: flex;
  width: 92%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 5.488px;
  background: #e1e5f2;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}

.tipoBandeira {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkBand {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.iconDoPostoCheck {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.checkBoxStyle {
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.checkBoxStyle::before {
  content: "";
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: #1f7a8c;
  border-radius: 5px;
}

.checkBoxStyle:checked::after {
  content: "";
  display: block;
  width: 2px;
  height: 5px;
  border: solid #90d9e7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 5px;
}

.TextDados {
  margin: 10px;
  width: 250px;
  border-radius: 5.034px;
  background: #1f7a8c;
  padding: 5px;
  border: 0px;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  font-family: monospace;
}

.avaliacaoRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.range-ava {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18em;
  height: 0.5em;
  position: relative;
  border-radius: 5px;
  background-color: #90d9e7;
  outline: none;
  cursor: pointer;
}

.range-ava::-webkit-slider-thumb {
  border-radius: 50%;
}

.precosAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.precosDados{
  display: flex;
  align-items: center;
}

.inputPrecosAdd {
  text-align: center;
  margin: 10px;
  color: #022b3a;
  border: none;
  background-color: transparent;
  text-transform: none;
  outline: none;
  border-bottom: 1px solid #58a3be;
  appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputPrecosAdd::placeholder {
  color: rgb(177, 177, 177);
}

.inputPrecosAdd::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

.btnAdd{
  transition: 1s;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background: #1f7a8c;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

#btnAdd:hover{
  transition: 1s;
  box-shadow: 0px 0px 5px 1px #02a855;
  background: #008141;
}

#btnAtuali:hover{
  transition: 1s;
  box-shadow: 0px 0px 5px 1px #58a3be;
  background: #022b3a;
}

#btndelete:hover{
  transition: 1s;
  box-shadow: 0px 0px 5px 1px #e63318;
  background: #a31600;
}